# Dataset and generated data
data/

# Model checkpoints
checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
.vscode/
.idea/
src/depression_paper.egg-info/
